body{
  margin:0px;
  padding:0px;
}

*{
  box-sizing: border-box;
}

.op{
  display: flex;
  align-items: center;
}

a.a-link{
  text-decoration:none;
  color:rgb(81, 136, 184)
}
.no-data{
  text-align: center;
  font-size: 18px;
  color: rgb(139, 56, 56);
}


.not-allow{
  cursor: not-allowed;
  color:rgb(166, 165, 163);
  text-decoration: none;
}